node_modules
GPATH
GSYMS
GRTAGS
GTAGS
gtags.files
/tags
.DS_Store
*.swp
.svn
tools/publish/2*.txt
tools/publish/names.txt
tools/publish/names.json
tools/newpublish/*/2*.txt
tools/newpublish/*/names.txt
tools/newpublish/*/names.json
tools/newpublish/*/2*.log
tools/newpublish/*/*.js
target/
.groovy/
.classpath
.metadata
.project
.settings
upload_temp_dir/
RemoteSystemsTempFiles
upload_temp_dir/
src/main/webapp/h
src/main/webapp/s
src/main/webapp/pub
src/main/resources/biz.properties
src/main/resources/conf/hessianClient.properties
src/main/resources/db.properties
src/main/resources/log4j.xml
src/main/resources/springMVC.properties
src/main/resources/antispam-jms.properties
src/main/resources/blackurl-client.properties
src/main/webapp/ga/.*
.sass-cache
D:/
logs/
bin/
/test-output/
*~
.idea/
*.iml
localjetty.bat
jetty_with_port.sh
npm-dmpmebug.log
*.map
/target/
simple_jetty.sh
!src/main/resources/omad_conf/

watch.sh
compass.sh
/target/

# nei config
nei/
src/main/webapp/src/mock/
src/main/webapp/template/mock
/target/
/.reviewboardrc
